* {
    box-sizing: border-box;
    background-color: black;
    color: yellow;
}

body {
    font-family: Arial, sans-serif;
}

.video-item {
    margin: 1em 0;
    text-align: center;
}

.video-item img {
    width: 120px;
    height: auto;
}
